<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="liga.medical.personservice.core.repository.RoleRepository">

    <resultMap id="role" type="liga.medical.personservice.core.model.Role" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findById" resultMap="role">
        SELECT r.* FROM role r WHERE r.id=#{id}
    </select>


    <select id="findByIds" resultMap="role">
        SELECT r.* FROM role r
        WHERE id IN
        <foreach collection='collection' item='id' open='(' separator=',' close=')'>
            #{id, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="findByAuthority" resultMap="role">
        SELECT r.* FROM role r WHERE r.value=#{value}
    </select>

    <select id="findAll" resultMap="role">
        SELECT r.* FROM role r;
    </select>

    <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO role (value) VALUES
        <foreach collection="collection" item="item" separator=",">
            (#{item.value})
        </foreach>
    </insert>
</mapper>